@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin:0;
    padding: 0;

}
.small-manubar{
    visibility: hidden;
    color: white;
    width: 70px;
    font-size: 80px;
}
.top-header-section { 
    background-image: linear-gradient(#000000ec, #000000eb, #000000);
}
.display-flex {
    display: flex;
}
.top-container{
    width: 1040px;
    margin: auto;
    color: white;
}
.Logo-bannar {
    color: #E6533C;
    font-size: 36px;
}

.navbar {
    justify-content: space-between;
}

.nav-menu {
    align-items: center;
    text-align: center;
}

.nav-menu li {
    list-style: none;
    margin-right: 22px;
    padding: 10px 25px;
    border-radius: 100px;
}

.first-nav {
    background-color: #E6533C;
    font-size: 18px;
}
.header-bannar{
    align-items: center;
    justify-content: space-between;
}
.top-info{
    width: 50%;
    padding: 10px;
}
.top-info h2{
    font-size: 3rem;
}
.font-style{
    font-family: "Dancing Script", cursive;
}
.top-button1{
    padding: 15px 55px;
    background-color:#E6533C;
    border-radius: 50px;
    color:white;
    font-size: 1rem;
}
.top-button2{
    padding: 15px 55px;
    background-color: #060606;
    border-radius: 50px;
    border:1px solid #d0d0d0;
    color:white;
    font-size: 1rem;
    margin-left: 10px;
}
/* 
.badge{
    background-color: #acacac28;
    width: 190px;
    padding: 6px 16px;
    border-radius: 10px;
}*/

.container{
    background-color: black;
    margin-top: -22px;
}
.body-info{
    width: 1040px;
    margin: auto;
}
.habit-header{
    margin:auto;
    text-align: center;
    width: 700px;
}
.habit-header h2{
    font-size: 1.5rem;
    color: white;
    padding-top: 80px;
}
.description-letter{
    color: #b0b0b0;
    line-height: 1.5;
}
.habits-bannar{
    display: flex;
    margin-top: 80px;
    text-align: center;
    color:white;
}
.habits-bannar img{
    border-radius: 100%;
}
.run-section{
    display: flex;
    justify-content: space-between;
    background-color: #141414;
    margin:auto;
    width: 1040px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 15px;
}
.run-info{
    color:white;
    margin-left: 20px;
}
.run-section img{
    max-width: 30%;
    border-radius: 10px;
}
.bmi-calculator{
    background-color: #141414;
}

.bmi-header{
    color:white;
    margin: auto;
    width: 40%;
    margin-top: 80px;
}
.bmi-info-form{
    color:white;
    display: flex;
    width: 1040px;
    margin:auto;
    margin-top: 80px;
    justify-content: space-between;
    padding: 30px;
}
.bmi-table{
    width: 50%;
}
table, th, td {
    border: 1px solid #9696965a;
    border-collapse: collapse;
    padding: 8px;
    font-size: 1rem;
    color:#a6a6a6d1;
  }
  .form-display{
    display: flex;
  }
input{
    padding-right: 20%;
    margin:10px;
    padding: 5px;
    border-radius: 4px;
    background-color:#3f3f3f5b;;
    border:none;
}
.selectbox{
    margin:10px;
    padding: 3px 114px 7px 1px;
    background-color:#3f3f3f5b;;
    border-radius: 4px;
    color:rgb(163, 163, 163);
    border:none;
}
.active-box{
    padding-right: 71%;
    margin:10px;
    margin-bottom: 25px;
    background-color:#3f3f3f5b;
    border-radius: 4px;
    color:rgb(128, 128, 128);
    border:none;
    padding: 3px 210px 7px 1px;
}
.gallary-section{
    color:white;
    width: 1040px;
    margin:auto;
    padding-bottom: 80px;
}
.gallary-size{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #141414;
    padding: 15px 0px 0px 15px;
    border-radius: 10px;
}
.gallary-size img{
    width: 325px;
    height: 272px;
    border-radius: 10px;
}
.single-image-box{
    margin-bottom: 40px;
}
.extra-section{
    background-color: #000000;
    color: white;
}
.extra-section-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1040px;
    margin:auto;
    line-height: 2;
    padding-bottom: 80px;

}
.extra-section-main img{
    width: 50%;
    height: 500px;
    padding-right: 50px;
    border-radius: 10px;
}
.extra-section-main p{
    color: #939393;
    text-align: justify;
}
.gallary-info{
    margin-top: -90px;
    margin-left: 15px;
    line-height: 1px;
}
.gallary-info p{
    color:#939393;
}
footer{
    background-color: #141414;
    color:white;
}
.footer-parent-container{
    width: 1040px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-chaild-info{
   margin-top: 80px;
   padding-bottom: 50px;
}
.footer-chaild-info h2{
    color:#E6533C;
    margin: 0;
    font-size: 3rem;
}
.footer-chaild-info h3{
    margin-left: 38px;
    margin-bottom: 35px;
}
.footer-chaild-info p{
    color:#b0b0b0;
    line-height: 2;
}
.footer-chaild-info ul li{
    list-style: none;
    color:#b0b0b0;
    line-height: 2;
}
.footer-container{
    width: 1040px;
    margin:auto;
    color: #939393;
    text-align:center;
}
hr{
    border: 1px solid #939393;
}
.finish{
    padding: 30px 0px;
}

/* responsive css style tag  */

 @media (max-width: 576px){
    body{
        background-color: black;
        margin:0px;
        padding:0px;
    }
    .display-flex, .habits-bannar, .run-section, .bmi-info-form, .form-display, .extra-section-main, .footer-parent-container{
      flex-direction: column;
    }

    .small-manubar{
        visibility: visible;
    }
    .nav-menu li {
        display:none;
    }
    .run-section{
        height: auto;
        border-radius: 5px;
        background-color: #96959530;
    }
    .run-section img{
        max-width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .run-info {
        color: white;
        margin-left: 20px;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
    }
    .bmi-header{
        width: 100%;
    }
    .gallary-size{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .gallary-size img {
        width: 100%;
        height: auto;
        margin: 10px;
    }
    .extra-section-main img{
       display: none;
    }
    .about-info{
        text-align: center;
        padding: 100px;
    }
    footer{
        background-color:black;
    }  
    .bmi-parent-box{
        flex-direction: column;
        width: 700px;
        margin-left: 200px;
        overflow: hidden;
    }
  }
  @media screen and (min-width: 576px), (max-width:990){
    body{
        background-color: black;
    }
    .bmi-parent-box{
        background-color: black;
    }
  }